// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deleteAction
{
    color: red;
    cursor: pointer;
    margin-left: 10px;

}

.commentForPost
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    padding-left: 20px;
    input, textarea
    {
    width: 100%;
    text-align: center;
    }
}

.commentList
{
    list-style: none;
    padding-left: 20px;

}
.textComment
{
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
}
.commentForm
{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 0 auto;
    li 
    {
        width: 100%;
    }
    span
    {
        font-size:11px;
    }
}
.commentForComment
{
    textarea
    {
        width: 100%;
        margin-top: 10px;
    }
}
.show_comment_form
{
    display: none;
}
.showCommentForm
{
    cursor: pointer;
    color: orange;
}
.on {
    display: block!important;
  }