/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";


*:not(i)
{
   font-family: 'Libre Baskerville', serif!important;
}
 .headerLink,
 .headerLink:visited
 {
    font-size: 18px;
    margin: 10px;
    color: #7d7d7d;
 }
 .headerLink:hover
 {
    text-decoration: none;
    color: black;
    background: transparent;

 }

 @keyframes fade-in {   0% { opacity: .1 ; }   100% { opacity: 1; }   }
.container {
  animation: fade-in .7s linear;
}
@media screen and (max-width: 995px) {

   .userAvatar {
     border: 1px solid lightgrey;
     margin: 0 auto;
     margin-bottom: 30px;
     float: none;
     width: 100%;
   }
 
   .userEditForm,
   .userInfo,
   .userPosts,
   .addNewPost,
   .editMyPost,
   .commentForPost {
     margin-top: 30px;
     width: 100%;
     margin: 0 auto;
     float: none;
     padding: 0;
   }

   .userPosts .postsAll {
     margin: 20px 0px;
   }
 

   .updateUserButton {
     width: 100%;
   }
 

   #uploadImageForPost,
   .createNewPost {
     width: 40%;
   }
 

   .commentForm {
     width: 100%;
   }
 }
 @media screen and (max-width: 770px) {

   .burger {
     display: block;
   }
   nav {
     display: none;
   }
   .postSettingBlock .postSetting {
     width: 70%;
     text-align: center;
   }
 }
 @media screen and (max-width: 550px) {

   .replyComment {
     padding: 19px 0px;
   }
 }
 @media screen and (max-width: 407px) {

   .container {
     padding: 0;
   }
 
   .createNewPost {
     padding: 19px 0px;
   }
 
   .postImage {
     flex-direction: column;
      img {
     height: 200px;
     margin: 5px;
     width: 100%;
   }
}
 
   #selectImage,
   .addComment {
     width: 40%;
     padding: 10px;
   }

 }
 