// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.postsAll
{
    margin:50px;
}

#newPost a
    {
        float: right;
        font-size: 20px;
        color: #666;
        margin: 10px;
    }

    #newPost a:hover
    {
       text-decoration: none;
       color: black;
       background: white;
    }

    #selectImage
    {
     
    padding: 5px 10px;
    background: #00C7FF;
    color: white;
    border: 1px solid #00C7FF;
    transition: .5s;
    border-radius: 5px;
    margin-top: 20px;
    }
    #selectImage:hover
    {
    color: #00C7FF;
    background: white;
    }