// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search
{
    display: flex;
    form{
        display: flex;
   
        button{
            background: transparent;    
            border: none;
            outline: none;
            i{
                margin: 0px;
                color: #7d7d7d;
                padding: 0px;
                font-size: 16px;
            }
        }
    }
}